Repository lizuncong/web-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.{less,css}": [
    "stylelint --fix",
    "prettier --write"
  ]
}

feat: 添加block
  src/locales/zh-hans-cn.json
  src/pages/Editor/components/ComponentSetting/AddBlock/index.module.less
  src/pages/Editor/components/ComponentSetting/AddBlock/index.tsx
  src/pages/Editor/components/ComponentSetting/Section/index.tsx
  src/types/section.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: block order排序
  src/pages/Editor/components/ComponentSetting/Section/index.tsx
  src/pages/Editor/components/ComponentSetting/SectionBlock/index.tsx
  src/pages/Editor/hooks/useUpdateConfigDataAndNotify.ts
Due: eslint --fix, prettier --write

feat: bugfix
  eslint.config.js
  src/pages/Editor/Widgets/ExternalVideoUrl/index.tsx
  src/pages/Editor/Widgets/ImagePicker/index.tsx
  src/pages/Editor/Widgets/Range/index.tsx
  src/pages/Editor/Widgets/Select/index.tsx
  src/pages/Editor/Widgets/Switch/index.tsx
  src/pages/Editor/Widgets/Text/index.tsx
Due: eslint --fix, prettier --write

feat: 样式调整
  src/pages/Editor/components/Header/index.module.less
  src/pages/Editor/components/Header/index.tsx
  src/pages/Editor/components/Right/index.module.less
  src/pages/Editor/components/Right/index.tsx
  src/pages/Editor/index.module.less
  src/pages/Editor/index.tsx
  src/styles/variable.less
Due: eslint --fix, prettier --write, stylelint --fix

feat: ts error
  src/pages/Editor/components/Right/index.tsx
Due: eslint --fix, prettier --write

feat: 图片选择
  src/assets/close.svg
  src/components/Drawer/index.module.less
  src/components/Drawer/index.tsx
  src/pages/Editor/Widgets/ImagePicker/index.tsx
  src/pages/Editor/components/Header/index.module.less
  src/styles/variable.less
Due: eslint --fix, prettier --write, stylelint --fix

feat: 宽度调整
  src/styles/variable.less
Due: prettier --write, stylelint --fix

feat: 调整代码
  src/pages/Editor/components/Right/Form/index.module.less
  src/pages/Editor/components/Right/Form/index.tsx
  src/pages/Editor/components/Right/SectionSettingForm.tsx
  src/pages/Editor/components/Right/index.module.less
  src/pages/Editor/components/Right/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: 基础架子
  src/pages/Editor/components/ComponentSetting/Section/index.tsx
  src/pages/Editor/components/ComponentSetting/SectionBlock/index.tsx
  src/pages/Editor/components/Right/BlockSettingForm.tsx
  src/pages/Editor/components/Right/index.tsx
Due: eslint --fix, prettier --write

feat: stash
  src/pages/Editor/Widgets/GroupHeader/index.module.less
  src/pages/Editor/components/Right/BlockSettingForm.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: home
  src/assets/arise.jpg
  src/assets/modern.jpg
  src/constant.ts
  src/locales/zh-hans-cn.json
  src/pages/Editor/components/Preview/index.tsx
  src/pages/Editor/index.module.less
  src/pages/Editor/index.tsx
  src/pages/Home/index.module.less
  src/pages/Home/index.tsx
  src/store/reducer/editor.ts
  src/types/enum.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: reset
  src/pages/Editor/index.tsx
  src/store/reducer/editor.ts
Due: eslint --fix, prettier --write

feat: css
  src/locales/zh-hans-cn.json
  src/pages/Home/index.module.less
  src/pages/Home/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: 多语言:
  src/components/LanguageSelect/index.tsx
  src/i18n.ts
  src/locales/en-us.json
  src/locales/zh-hans-cn.json
  src/pages/Home/index.module.less
  src/pages/Home/index.tsx
  src/store/reducer/global.ts
  src/types/enum.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: stash:
  src/pages/Editor/components/Header/index.module.less
  src/pages/Editor/components/Header/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: 多语言变化通知
  src/pages/Editor/IFrameCommunicator/index.ts
  src/pages/Editor/IFrameCommunicator/type.ts
  src/pages/Editor/index.tsx
Due: eslint --fix, prettier --write

feat: 多语言
  src/pages/Editor/components/Preview/index.tsx
Due: eslint --fix, prettier --write

feat: stash
  src/pages/Editor/components/Preview/index.tsx
Due: eslint --fix, prettier --write

feat: delete
  src/pages/Editor/components/Preview/index.tsx
Due: eslint --fix, prettier --write

feat: 更新语料
  src/pages/Editor/hooks/useListenerMsgFromIframe.ts
Due: eslint --fix, prettier --write

feat: 语料
  src/locales/en-us.json
  src/locales/zh-hans-cn.json
  src/pages/Editor/components/Right/index.tsx
Due: eslint --fix, prettier --write
