Repository lizuncong/web-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: 删除无用图片
  docs/images/commit_msg.png
  docs/images/eslint_01.gif
  docs/images/husky.png
  docs/images/indent_01.gif
  docs/images/indent_02.gif
  docs/images/lint_01.png
  docs/images/lint_stage.gif
  docs/images/stylelint_01.gif
Due: none

feat: stash
  src/assets/food.jpg
  src/assets/grounded.jpg
  src/assets/hammer.jpg
  src/constant.ts
  src/locales/zh-hans-cn.json
  src/pages/Editor/index.tsx
  src/pages/Home/index.tsx
  src/store/reducer/editor.ts
  src/types/section.ts
Due: eslint --fix, prettier --write

feat: 重命名
  src/constant.ts
  src/pages/Editor/index.tsx
  src/pages/Home/index.tsx
  src/store/reducer/editor.ts
  src/types/section.ts
Due: eslint --fix, prettier --write

feat: schema
  src/pages/Editor/Widgets/index.ts
  src/types/section.ts
Due: eslint --fix, prettier --write

feat: preview
  src/pages/Editor/components/Preview/index.tsx
Due: eslint --fix, prettier --write

feat: stash
  src/pages/Editor/IFrameCommunicator/index.ts
  src/pages/Editor/IFrameCommunicator/type.ts
  src/pages/Editor/hooks/useListenerMsgFromIframe.ts
  src/store/reducer/editor.ts
  src/types/section.ts
Due: eslint --fix, prettier --write

feat: 调整目录
  src/pages/Editor/components/Form/index.module.less
  src/pages/Editor/components/Form/index.tsx
  src/pages/Editor/components/Right/BlockSettingForm.tsx
  src/pages/Editor/components/Right/SectionSettingForm.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: stash
  src/locales/zh-hans-cn.json
  src/pages/Editor/components/ThemeSetting/BlockSetting.tsx
  src/pages/Editor/components/ThemeSetting/index.module.less
  src/pages/Editor/components/ThemeSetting/index.tsx
  src/types/section.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: ui
  src/pages/Editor/Widgets/Select/index.tsx
  src/pages/Editor/Widgets/index.ts
  src/pages/Editor/Widgets/types.ts
  src/pages/Editor/components/Form/index.tsx
  src/pages/Editor/components/ThemeSetting/BlockSetting.tsx
  src/pages/Editor/components/ThemeSetting/index.module.less
Due: eslint --fix, prettier --write, stylelint --fix

feat: 主题设置项修改完成
  src/pages/Editor/IFrameCommunicator/index.ts
  src/pages/Editor/components/ThemeSetting/BlockSetting.tsx
  src/pages/Editor/hooks/useUpdateConfigDataAndNotify.ts
Due: eslint --fix, prettier --write

feat: 多语言
  src/locales/en-us.json
  src/pages/Editor/components/Preview/index.tsx
Due: eslint --fix, prettier --write

feat: selector
  src/pages/Editor/components/Preview/index.tsx
Due: eslint --fix, prettier --write

feat: origin
  src/pages/Editor/Widgets/ImagePicker/index.tsx
Due: eslint --fix, prettier --write

feat: stash
  src/pages/Editor/Widgets/ImagePicker/index.tsx
Due: eslint --fix, prettier --write

feat: 增加视频
  public/1.mp4
  public/10.mp4
  public/2.mp4
  public/3.mp4
  public/4.mp4
  public/5.mp4
  public/6.mp4
  public/7.mp4
  public/8.mp4
  public/9.mp4
Due: none

Deploying to gh-pages from @ lizuncong/web-editor@9cf50ea6c5c8540837ebe41e54761a99270714d2 🚀
  1.mp4
  10.mp4
  2.mp4
  3.mp4
  4.mp4
  5.mp4
  6.mp4
  7.mp4
  8.mp4
  9.mp4
Due: none

feat: 本地视频选择
  src/components/Drawer/index.tsx
  src/constant.ts
  src/pages/Editor/Widgets/LocalVideo/index.module.less
  src/pages/Editor/Widgets/LocalVideo/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: info
  src/pages/Editor/components/Form/index.module.less
  src/pages/Editor/components/Form/index.tsx
  src/pages/Editor/components/Right/BlockSettingForm.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: block icon
  src/pages/Editor/components/ComponentSetting/SectionBlock/index.tsx
Due: eslint --fix, prettier --write

feat: bug
  src/pages/Editor/Widgets/index.ts
  src/pages/Editor/components/Right/BlockSettingForm.tsx
Due: eslint --fix, prettier --write

feat: bugfix
  src/pages/Editor/components/ComponentSetting/Section/index.tsx
  src/pages/Editor/components/ComponentSetting/SectionBlock/index.tsx
Due: eslint --fix, prettier --write

feat: preview
  src/pages/Editor/components/Header/index.module.less
  src/pages/Editor/components/Header/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: 架构设计文档
  README.md
  docs/images/communicate_01.jpg
  docs/images/iframe_01.jpg
  docs/images/iframe_02.jpg
  docs/images/iframe_03.jpg
  docs/images/section.jpg
  docs/images/section_02.jpg
  docs/images/section_03.jpg
  docs/images/section_04.jpg
  docs/images/section_05.jpg
  docs/images/section_06.jpg
  docs/images/section_07.jpg
  docs/images/widget.jpg
  docs/images/widget_02.jpg
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: **/*.{less,css})
  stylelint --fix: any of: **/*.{less,css}
