Repository lizuncong/web-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat: dist
  .github/workflows/build.yml
Due: none

Deploying to gh-pages from @ lizuncong/web-editor@9659018da755152ea73f024fb78decc88e3f8d56 🚀
  assets/index-7J2bA5zH.css
  assets/index-BPBt8io-.css
  assets/index-BXW167jz.js
  assets/index-CzSiQhAQ.css
  assets/index-D6BXZ84r.css
  assets/index-DLmtmxcT.js
  assets/index-DR_MX-hl.js
  assets/index-GsSFM9Oj.js
  assets/index-dyMB8-Bg.js
  index.html
  sudo.jpg
  vite.svg
Due: prettier --write, stylelint --fix

feat: publicpath
  vite.config.ts
Due: none

Deploying to gh-pages from @ lizuncong/web-editor@be7eeb2f7dae0963d8827898bbbd5b42c67261d6 🚀
  assets/index-BKWnWSsu.js
  assets/index-BLjAq3vp.js
  assets/index-BXW167jz.js
  assets/index-C0D5H70Q.js
  assets/index-CcV6gk4Z.js
  assets/index-DLmtmxcT.js
  assets/index-DR_MX-hl.js
  assets/index-Dh__lINJ.js
  assets/index-GsSFM9Oj.js
  index.html
Due: none

feat: stash
  vite.config.ts
Due: none

feat: hash路由
  src/routes/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@b189a10feebd722a3099b6dff6de2642bdedcba9 🚀
  assets/index-0VhvpEly.js
  assets/index-BKWnWSsu.js
  assets/index-BLjAq3vp.js
  assets/index-C0D5H70Q.js
  assets/index-CcV6gk4Z.js
  assets/index-CnTrMWvn.js
  assets/index-CtsC6xVU.js
  assets/index-Cx5_Cpxe.js
  assets/index-Dh__lINJ.js
  assets/index-DkQWNLp9.js
  index.html
Due: none

feat: 主题设置
  src/pages/Editor/components/ThemeSetting/index.module.less
  src/pages/Editor/components/ThemeSetting/index.tsx
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/web-editor@4aa35b272d5e3f023773aa556d8ebcc36c2ad163 🚀
  assets/index-0VhvpEly.js
  assets/index-BC8SQLc3.js
  assets/index-BSRXrzuG.js
  assets/index-BeXXN9Re.js
  assets/index-CnTrMWvn.js
  assets/index-CswzIMZB.js
  assets/index-Cx5_Cpxe.js
  assets/index-DjvhFmBq.css
  assets/index-DkQWNLp9.js
  assets/index-DvmjnMe0.js
  index.html
Due: prettier --write, stylelint --fix

feat: 类型声明
  eslint.config.js
  src/api/dashboard.ts
  src/pages/Editor/hooks/useGetAllSectionSchema.ts
  src/pages/Editor/hooks/useGetSectionConfigData.ts
  src/pages/Editor/index.tsx
  src/store/index.ts
  src/store/reducer/editor.ts
  src/types/editor.ts
Due: eslint --fix, prettier --write

feat: 中文预料
  eslint.config.js
  src/App.tsx
  src/i18n.ts
  src/locales/en.json
  src/locales/zh-hans-cn.json
  src/pages/Editor/components/ComponentSetting/CompBlock/index.module.less
  src/pages/Editor/components/ComponentSetting/CompBlock/index.tsx
  src/pages/Editor/components/ComponentSetting/index.module.less
  src/pages/Editor/components/ComponentSetting/index.tsx
  src/pages/Editor/components/Header/index.tsx
  src/pages/Editor/hooks/useGetAllSectionSchema.ts
  src/pages/Editor/hooks/useGetSchemaLanguage.ts
  src/pages/Editor/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: 多语言
  eslint.config.js
  src/i18n.ts
  src/pages/Editor/assets/expand.svg
  src/pages/Editor/assets/image.svg
  src/pages/Editor/assets/pin.svg
  src/pages/Editor/assets/slideshow.svg
  src/pages/Editor/assets/video.svg
  src/pages/Editor/components/ComponentSetting/CompBlock/index.module.less
  src/pages/Editor/components/ComponentSetting/CompBlock/index.tsx
  src/pages/Editor/hooks/useGetAllSectionSchema.ts
  src/pages/Editor/hooks/useGetSchemaLanguage.ts
  src/pages/Editor/index.tsx
  src/types/editor.ts
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/web-editor@2bf6ec44a95df5cc265f479530bca844957f05c7 🚀
  assets/index-7J2bA5zH.css
  assets/index-BC8SQLc3.js
  assets/index-BSRXrzuG.js
  assets/index-BXYgbh-_.js
  assets/index-BeXXN9Re.js
  assets/index-BfOoiPVl.js
  assets/index-BhBlSooK.js
  assets/index-CbZdFFIc.js
  assets/index-CswzIMZB.js
  assets/index-DMW8XPwK.css
  assets/index-DiLV-uq8.js
  assets/index-DvmjnMe0.js
  assets/useTranslation-BV3TYs-u.js
  index.html
Due: prettier --write, stylelint --fix

feat: 删除
  src/pages/Editor/assets/delete.svg
  src/pages/Editor/assets/eye.svg
  src/pages/Editor/assets/eye_close.svg
  src/pages/Editor/components/ComponentSetting/CompBlock/index.module.less
  src/pages/Editor/components/ComponentSetting/CompBlock/index.tsx
  src/store/reducer/editor.ts
  src/types/editor.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: ui
  src/locales/zh-hans-cn.json
  src/pages/Editor/components/ComponentSetting/CompBlock/index.module.less
  src/pages/Editor/components/ComponentSetting/CompBlock/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/web-editor@58cdab2d5942ea6098582f28cfb14a779dfab0bd 🚀
  assets/index-BXYgbh-_.js
  assets/index-BeToAwJj.js
  assets/index-BhBlSooK.js
  assets/index-CDkQMouk.js
  assets/index-CbZdFFIc.js
  assets/index-DEUUqPm4.js
  assets/index-DMW8XPwK.css
  assets/index-DiLV-uq8.js
  assets/index-DtIZjPpc.css
  assets/index-Lt3szV0L.js
  assets/index-oMiXOKtT.js
  assets/useTranslation-BV3TYs-u.js
  assets/useTranslation-D3ZyoXCK.js
  index.html
Due: prettier --write, stylelint --fix

feat: stash
  src/api/home.ts
  src/pages/Editor/assets/drag.svg
  src/types/editor.ts
Due: eslint --fix, prettier --write

feat: 拖拽拍去
  eslint.config.js
  package-lock.json
  package.json
  src/pages/Editor/components/ComponentSetting/CompBlock/index.module.less
  src/pages/Editor/components/ComponentSetting/CompBlock/index.tsx
  src/pages/Editor/components/ComponentSetting/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/web-editor@a04c1ac5d8c98859144628096ab6645ec036f670 🚀
  assets/index-BDFSYt4z.js
  assets/index-BeToAwJj.js
  assets/index-Bqh7rN_3.js
  assets/index-CDkQMouk.js
  assets/index-CKYRYpeB.js
  assets/index-CUqdHMIF.js
  assets/index-DtIZjPpc.css
  assets/index-Lt3szV0L.js
  assets/index-MQ0jAHe7.js
  assets/index-ZAsWQLWv.css
  assets/index-oMiXOKtT.js
  assets/useTranslation-BWRM52tD.js
  assets/useTranslation-D3ZyoXCK.js
  index.html
Due: prettier --write, stylelint --fix

feat: iframe src
  src/pages/Editor/components/Preview/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@cc024d54cded6fd025b08a972a4b09480b1dcd20 🚀
  assets/index-0OhmH9RR.js
  assets/index-9e_PEWjX.js
  assets/index-BUuW7jpC.js
  assets/index-Bqh7rN_3.js
  assets/index-CJEIUms9.js
  assets/index-CUqdHMIF.js
  assets/index-CZqeJBcM.js
  assets/useTranslation-BWRM52tD.js
  assets/useTranslation-DVCn93MA.js
  index.html
Due: none

feat: sanbox
  src/pages/Editor/components/Preview/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@fbb22b8828a8701510cc0a024bea15e5a325350d 🚀
  assets/index-B3PB47fI.js
  assets/index-BUuW7jpC.js
  assets/index-CZqeJBcM.js
  assets/index-CmEdkN-C.js
  assets/index-DPuc9i_r.js
  assets/index-De8PF6Af.js
  assets/index-I9k1Ph2m.js
  assets/useTranslation-CP6vj9qW.js
  assets/useTranslation-DVCn93MA.js
  index.html
Due: none

feat: stash
  eslint.config.js
  src/pages/Editor/components/Preview/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@23ce0c2d93d4052aa6cb8b4ba451b3ccf7912b0e 🚀
  assets/index-B3PB47fI.js
  assets/index-BQGBoF2z.js
  assets/index-CVOP2Fh0.js
  assets/index-D7JHPDcp.js
  assets/index-DTdb_Nf5.js
  assets/index-De8PF6Af.js
  assets/index-I9k1Ph2m.js
  assets/index-koyTonoD.js
  assets/useTranslation-CP6vj9qW.js
  assets/useTranslation-DGcuYBx0.js
  index.html
Due: none

feat: 通信层接入
  eslint.config.js
  src/pages/Editor/IFrameCommunicator/index.ts
  src/pages/Editor/IFrameCommunicator/type.ts
  src/pages/Editor/components/ComponentSetting/CompBlock/index.tsx
  src/pages/Editor/components/ComponentSetting/index.tsx
  src/pages/Editor/components/Preview/index.tsx
  src/pages/Editor/hooks/useListenerMsgFromIframe.ts
  src/pages/Editor/hooks/useUpdateConfigDataAndNotify.ts
  src/pages/Editor/index.tsx
  src/utils/resolve.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@1092a2daacdc165aeb840b95399d03874240991c 🚀
  assets/index-9Z1Hsr8e.js
  assets/index-BQGBoF2z.js
  assets/index-Bn8g1pVw.js
  assets/index-CVOP2Fh0.js
  assets/index-CXiE3veT.js
  assets/index-DEaRsbIV.js
  assets/index-DTdb_Nf5.js
  assets/index-koyTonoD.js
  assets/index-qO8_yY2X.js
  assets/useTranslation-DGcuYBx0.js
  assets/useTranslation-YJIDDhmi.js
  index.html
Due: none

feat: ts
  src/types/editor.ts
Due: eslint --fix, prettier --write

feat: stash
  src/pages/Editor/components/Preview/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@7411c50d4bb841f7ff14268dccbd3b937581210b 🚀
  assets/index-Bn8g1pVw.js
  assets/index-CPRhktF_.js
  assets/index-CXiE3veT.js
  assets/index-DuFmZMy5.js
  assets/index-Kw-Hwjrr.js
  assets/index-dYm5tGOi.js
  assets/index-qO8_yY2X.js
  assets/index-uFo78UwM.js
  assets/useTranslation-DxHZ4kWu.js
  assets/useTranslation-YJIDDhmi.js
  index.html
Due: none

feat: readme
  README.md
  src/constant.ts
  src/pages/Editor/IFrameCommunicator/index.ts
  src/pages/Editor/components/Preview/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@b92a0f3f045b1172d9de8b9afe23f206feef2573 🚀
  assets/index-B-1YKhOw.js
  assets/index-Bw9e1Zfx.js
  assets/index-CGwAoGx9.js
  assets/index-CM23YirV.js
  assets/index-CPRhktF_.js
  assets/index-DfE4boaA.js
  assets/index-DuFmZMy5.js
  assets/index-Kw-Hwjrr.js
  assets/useTranslation-DxHZ4kWu.js
  assets/useTranslation-b9qFFdle.js
  index.html
Due: none

feat: iframe通信初步打通
  src/constant.ts
  src/pages/Editor/IFrameCommunicator/index.ts
  src/pages/Editor/components/Preview/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@e61b7061e299a9f4490526b7d856191df0645498 🚀
  assets/index-BBlyncAO.js
  assets/index-Bd20p424.js
  assets/index-Bw9e1Zfx.js
  assets/index-CM23YirV.js
  assets/index-C_190MOZ.js
  assets/index-DfE4boaA.js
  assets/index-DqomL6QM.js
  assets/index-vCgy7sOV.js
  assets/useTranslation-CoPjY3Ay.js
  assets/useTranslation-b9qFFdle.js
  index.html
Due: none

feat: 通信
  src/pages/Editor/IFrameCommunicator/index.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@8bf7bd577d88985bb71216a149af379beb737cb2 🚀
  assets/index-Bd20p424.js
  assets/index-CC4AxqaQ.js
  assets/index-CJ14nyNN.js
  assets/index-D1XnemWH.js
  assets/index-DqomL6QM.js
  assets/index-DtxJi-H3.js
  assets/index-coBvTSHm.js
  assets/index-vCgy7sOV.js
  assets/useTranslation-Bzu2UG2k.js
  assets/useTranslation-CoPjY3Ay.js
  index.html
Due: none

feat: 删除无用代码
  src/pages/Editor/hooks/useGetAllSectionSchema.ts
  src/pages/Editor/hooks/useGetSchemaLanguage.ts
  src/pages/Editor/hooks/useGetSectionConfigData.ts
Due: eslint --fix, prettier --write

feat: 删除console
  src/pages/Editor/hooks/useListenerMsgFromIframe.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@1ebeb72383e7f92aa6cb0e2c514dd86106246ae7 🚀
  assets/index-BYqhguMD.js
  assets/index-CC4AxqaQ.js
  assets/index-CJ14nyNN.js
  assets/index-D24yh1x6.js
  assets/index-D2Y3r4gM.js
  assets/index-coBvTSHm.js
  assets/index-l0SkBgBI.js
  assets/index-mevJzrej.js
  assets/useTranslation-Bzu2UG2k.js
  assets/useTranslation-DgRiTsYl.js
  index.html
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: (any of: src/**/*.{ts,tsx}) or (any of: **/*.{less,css})
  stylelint --fix: any of: **/*.{less,css}
