Repository lizuncong/web-editor: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "**/*.{less,css}": [
    "stylelint --fix",
    "prettier --write"
  ]
}

feat: 调试
  src/pages/Editor/hooks/useListenerMsgFromIframe.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@fbb650957e4bf174412c2c8489ab5c1109f94295 🚀
  assets/index-B37V7x30.js
  assets/index-B5fOGtZx.js
  assets/index-BYqhguMD.js
  assets/index-Bfmg3zr4.js
  assets/index-D04yQXQj.js
  assets/index-D2Y3r4gM.js
  assets/index-I0m1wFPu.js
  assets/index-l0SkBgBI.js
  assets/useTranslation-B2dHM4j0.js
  assets/useTranslation-DgRiTsYl.js
  index.html
Due: none

feat: hack
  src/pages/Editor/hooks/useListenerMsgFromIframe.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@2d39e7a34ce255cdd76dd074fb67a4d11213801e 🚀
  assets/index-6_C6nYuK.js
  assets/index-B5fOGtZx.js
  assets/index-BRk_0wPH.js
  assets/index-Bfmg3zr4.js
  assets/index-CRXw1tGs.js
  assets/index-D04yQXQj.js
  assets/index-DkRBOSy1.js
  assets/index-UfVBXqam.js
  assets/useTranslation-B2dHM4j0.js
  assets/useTranslation-BtODAS0v.js
  index.html
Due: none

feat: test
  src/pages/Editor/hooks/useListenerMsgFromIframe.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@39cd3b11e5997877680054e6b16d65b9f25af807 🚀
  assets/index-6_C6nYuK.js
  assets/index-6k7aKu_w.js
  assets/index-BPD-COz8.js
  assets/index-BRk_0wPH.js
  assets/index-C8LZm1os.js
  assets/index-CRXw1tGs.js
  assets/index-Cb6lisv7.js
  assets/index-lp_wlbXA.js
  assets/useTranslation-BtODAS0v.js
  assets/useTranslation-CfNQC6Nx.js
  index.html
Due: none

feat: stash
  src/pages/Editor/hooks/useListenerMsgFromIframe.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@eaa1e1d0979c463e48c8b944e3abe8ab099ab219 🚀
  assets/index-6k7aKu_w.js
  assets/index-BJNMnFxc.js
  assets/index-BPD-COz8.js
  assets/index-BrA3z0qE.js
  assets/index-D8z65fSd.js
  assets/index-DOTXSRTQ.js
  assets/index-DqCvGN-A.js
  assets/index-lp_wlbXA.js
  assets/useTranslation-CfNQC6Nx.js
  assets/useTranslation-DMG9a3dT.js
  index.html
Due: none

feat: 添加组件的逻辑
  src/locales/zh-hans-cn.json
  src/pages/Editor/components/ComponentSetting/AddSection/index.module.less
  src/pages/Editor/components/ComponentSetting/AddSection/index.tsx
  src/pages/Editor/components/ComponentSetting/AddSection/test.js
  src/pages/Editor/components/ComponentSetting/index.module.less
  src/pages/Editor/components/ComponentSetting/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/web-editor@7a0d66b4dc27588f57dc305277de3301672c681d 🚀
  assets/index-B41gk5RI.css
  assets/index-BJNMnFxc.js
  assets/index-BZdlCsr_.js
  assets/index-BrA3z0qE.js
  assets/index-CQ2ciI3V.js
  assets/index-D0CBE50v.js
  assets/index-D6PrUJdI.js
  assets/index-D8z65fSd.js
  assets/index-DOTXSRTQ.js
  assets/index-DqCvGN-A.js
  assets/index-Sd2YSU3j.js
  assets/index-ZAsWQLWv.css
  assets/useTranslation-BbmoWqkc.js
  assets/useTranslation-DMG9a3dT.js
  index.html
Due: prettier --write, stylelint --fix

feat: icon
  src/pages/Editor/components/ComponentSetting/CompBlock/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@0baa1266ae7246b32dd0a9d7b0b4d87f142b8c24 🚀
  assets/index-B0hUmsjP.js
  assets/index-BFIp7lrA.js
  assets/index-BZdlCsr_.js
  assets/index-D0CBE50v.js
  assets/index-D3ktJCXh.js
  assets/index-D69cmlxf.js
  assets/index-D6PrUJdI.js
  assets/index-MDE6m4Wp.js
  assets/index-Sd2YSU3j.js
  assets/useTranslation-BbmoWqkc.js
  assets/useTranslation-DEsd9vek.js
  index.html
Due: none

feat: 类型完善
  src/pages/Editor/IFrameCommunicator/index.ts
  src/pages/Editor/components/ComponentSetting/AddSection/index.tsx
  src/pages/Editor/components/ComponentSetting/AddSection/test.js
  src/pages/Editor/components/ComponentSetting/CompBlock/index.tsx
  src/pages/Editor/hooks/useListenerMsgFromIframe.ts
  src/pages/Editor/hooks/useUpdateConfigDataAndNotify.ts
  src/store/reducer/editor.ts
  src/types/editor.ts
  src/types/section.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@8170d0e61595ef526619d29ed6f4779e6d559094 🚀
  assets/index-B0hUmsjP.js
  assets/index-B21hRAur.js
  assets/index-BBiaKDlB.js
  assets/index-BFIp7lrA.js
  assets/index-CkKep_0y.js
  assets/index-Cug4zSPW.js
  assets/index-D69cmlxf.js
  assets/index-DPpjxDUc.js
  assets/index-MDE6m4Wp.js
  assets/useTranslation-DEsd9vek.js
  assets/useTranslation-DQqjnccN.js
  index.html
Due: none

feat: stash
  src/styles/variable.less
Due: prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/web-editor@f9b98bb0238b26c302c0828e07ffdfdb2c1c2634 🚀
  assets/index-B24BV5iC.js
  assets/index-B41gk5RI.css
  assets/index-B4B2oaCc.css
  assets/index-BPBt8io-.css
  assets/index-BfM3wS6O.js
  assets/index-ButAgNxy.js
  assets/index-CkKep_0y.js
  assets/index-Cug4zSPW.js
  assets/index-D7HrqSLX.js
  assets/index-DNG4Rm20.css
  assets/index-DPpjxDUc.js
  assets/index-DTQ_LKy0.css
  assets/index-DjvhFmBq.css
  assets/index-nb1cAlyd.js
  assets/useTranslation-CEOIoEtF.js
  assets/useTranslation-DQqjnccN.js
  index.html
Due: prettier --write, stylelint --fix

feat: stash
  src/pages/Editor/IFrameCommunicator/index.ts
  src/pages/Editor/IFrameCommunicator/type.ts
  src/pages/Editor/components/ComponentSetting/CompBlock/index.tsx
  src/pages/Editor/components/Right/index.module.less
  src/pages/Editor/components/Right/index.tsx
  src/pages/Editor/hooks/useListenerMsgFromIframe.ts
  src/pages/Editor/hooks/useUpdateConfigDataAndNotify.ts
  src/pages/Editor/index.tsx
  src/store/reducer/editor.ts
  src/styles/variable.less
  src/types/section.ts
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/web-editor@9b1b8ca242d01c56e3bb3f13a5876045a056156b 🚀
  assets/index-5A0anE8u.js
  assets/index-B24BV5iC.js
  assets/index-B4B2oaCc.css
  assets/index-BZDH6Kc6.css
  assets/index-BfM3wS6O.js
  assets/index-ButAgNxy.js
  assets/index-COUl6MDP.js
  assets/index-CdQvKhvu.js
  assets/index-Cvx5I4St.js
  assets/index-CwzOAtqD.css
  assets/index-DNG4Rm20.css
  assets/index-DTQ_LKy0.css
  assets/index-DVw0N7jd.css
  assets/index-DzNM2GBw.js
  assets/index-VF2vvQfA.js
  assets/index-mWtQT42u.css
  assets/index-nb1cAlyd.js
  assets/useTranslation-CEOIoEtF.js
  assets/useTranslation-DpmHEHET.js
  index.html
Due: prettier --write, stylelint --fix

feat: 选中样式
  src/pages/Editor/components/ComponentSetting/CompBlock/index.module.less
  src/pages/Editor/components/ComponentSetting/CompBlock/index.tsx
  src/pages/Editor/components/Right/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: stash
  src/pages/Editor/components/Right/index.tsx
  src/types/section.ts
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@b18a2a06d101aedc3c0b269c8bf5bed1468e1e8a 🚀
  assets/index-9yeAWaaV.js
  assets/index-BZDH6Kc6.css
  assets/index-BZdBXU0U.js
  assets/index-COUl6MDP.js
  assets/index-CdQvKhvu.js
  assets/index-CnVf_hKJ.js
  assets/index-Cvx5I4St.js
  assets/index-DihHy1kn.js
  assets/index-DmcoI8sT.css
  assets/index-DzNM2GBw.js
  assets/index-DzdvgfnG.js
  assets/index-Jm7FzRaT.js
  assets/index-VF2vvQfA.js
  assets/useTranslation-BjNnza4I.js
  assets/useTranslation-DpmHEHET.js
  index.html
Due: prettier --write, stylelint --fix

feat: 表单
  src/components/ColumnWrap/index.module.less
  src/components/ColumnWrap/index.tsx
  src/pages/Editor/Widgets/Range/index.tsx
  src/pages/Editor/Widgets/Text/index.tsx
  src/pages/Editor/Widgets/index.ts
  src/pages/Editor/Widgets/types.ts
  src/pages/Editor/components/Form/index.module.less
  src/pages/Editor/components/Form/index.tsx
  src/pages/Editor/components/Right/index.module.less
  src/pages/Editor/components/Right/index.tsx
  src/types/section.ts
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/web-editor@c6abd3ad1f177d481718f6c9af00e11b1f0cc383 🚀
  assets/ContextIsolator-DY5rfYdW.js
  assets/index-BZdBXU0U.js
  assets/index-BrbpfPv-.js
  assets/index-Bt8hFonT.js
  assets/index-CNg-4Ur6.js
  assets/index-CnVf_hKJ.js
  assets/index-Cogfz-jx.js
  assets/index-CwzOAtqD.css
  assets/index-DbkJdsB0.css
  assets/index-Dcd-XEXd.js
  assets/index-DihHy1kn.js
  assets/index-DjzG6J0V.js
  assets/index-DogB32ZL.js
  assets/index-DpNFnSlG.css
  assets/index-DzdvgfnG.js
  assets/index-Jm7FzRaT.js
  assets/section-B0_XSMRP.js
  assets/useTranslation-BjNnza4I.js
  assets/useTranslation-BoqIv-cN.js
  index.html
Due: prettier --write, stylelint --fix

feat: 输入框空间开发完成
  src/pages/Editor/components/Right/index.tsx
Due: eslint --fix, prettier --write

Deploying to gh-pages from @ lizuncong/web-editor@a8af63a910e18b8339340d35def7bc71b39741c0 🚀
  assets/ContextIsolator-P-OeHyoC.js
  assets/index-BrbpfPv-.js
  assets/index-BtbYFmdS.js
  assets/index-CYpdMhPm.js
  assets/index-DZEPRpuX.js
  assets/index-Dcd-XEXd.js
  assets/index-DjzG6J0V.js
  assets/index-DlWkV4Co.js
  assets/index-DogB32ZL.js
  assets/index-Dt-5LFiZ.js
  assets/index-PD1lmhht.js
  assets/index-raELCW_9.js
  assets/useTranslation-BoqIv-cN.js
  assets/useTranslation-CTquNP2b.js
  index.html
Due: none

feat: 开发了几个widget
  src/components/RowWrap/index.module.less
  src/components/RowWrap/index.tsx
  src/pages/Editor/Widgets/Range/index.module.less
  src/pages/Editor/Widgets/Range/index.tsx
  src/pages/Editor/Widgets/Switch/index.module.less
  src/pages/Editor/Widgets/Switch/index.tsx
  src/pages/Editor/Widgets/index.ts
  src/pages/Editor/components/Right/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Deploying to gh-pages from @ lizuncong/web-editor@fd462445fbacf80b6abaceb75fa660223f2608e3 🚀
  assets/ContextIsolator-BmMToll3.js
  assets/ContextIsolator-P-OeHyoC.js
  assets/KeyCode-Bgp7GvX-.js
  assets/index--6lNlyuo.css
  assets/index-5YH52zMZ.js
  assets/index-B8lCSNry.js
  assets/index-BQNngmwn.js
  assets/index-BSh6gzGV.js
  assets/index-BUAqzspF.js
  assets/index-BZD80TqS.js
  assets/index-BcJXxwDV.css
  assets/index-BtbYFmdS.js
  assets/index-CYpdMhPm.js
  assets/index-C_SFlYLb.js
  assets/index-C_Zf6tU4.js
  assets/index-C_lfwP19.js
  assets/index-DEYHX23J.js
  assets/index-DI1LBibc.js
  assets/index-DdCbjnZj.js
  assets/index-DlWkV4Co.js
  assets/index-Dt-5LFiZ.js
  assets/index-PD1lmhht.js
  assets/index-raELCW_9.js
  assets/isVisible-B1n3f-qW.js
  assets/useSize-CG-0m2SO.js
  assets/useTranslation-B875NlvU.js
  assets/useTranslation-CTquNP2b.js
  index.html
Due: prettier --write, stylelint --fix

feat: widget
  src/locales/zh-hans-cn.json
  src/pages/Editor/Widgets/CollectionPicker/index.tsx
  src/pages/Editor/Widgets/GroupHeader/index.module.less
  src/pages/Editor/Widgets/GroupHeader/index.tsx
  src/pages/Editor/Widgets/ImagePicker/index.module.less
  src/pages/Editor/Widgets/ImagePicker/index.tsx
  src/pages/Editor/Widgets/Select/index.tsx
  src/pages/Editor/Widgets/index.ts
  src/pages/Editor/assets/1.jpg
  src/pages/Editor/assets/11.jpeg
  src/pages/Editor/assets/12.jpeg
  src/pages/Editor/assets/3.jpg
  src/pages/Editor/assets/4.jpeg
  src/pages/Editor/assets/5.jpeg
  src/pages/Editor/assets/7.jpeg
  src/pages/Editor/assets/checked.svg
  src/pages/Editor/assets/plus.svg
Due: eslint --fix, prettier --write, stylelint --fix

feat: 删除无用type
  src/locales/zh-hans-cn.json
  src/pages/Editor/Widgets/ExternalVideoUrl/index.tsx
  src/pages/Editor/Widgets/ImagePicker/index.tsx
  src/pages/Editor/Widgets/LocalVideo/index.module.less
  src/pages/Editor/Widgets/LocalVideo/index.tsx
  src/pages/Editor/Widgets/index.ts
  src/types/section.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: 重命名
  src/pages/Editor/components/ComponentSetting/Section/index.module.less
  src/pages/Editor/components/ComponentSetting/Section/index.tsx
  src/pages/Editor/components/ComponentSetting/SectionBlock/index.module.less
  src/pages/Editor/components/ComponentSetting/SectionBlock/index.tsx
  src/pages/Editor/components/ComponentSetting/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: 组件设置
  src/pages/Editor/components/Right/Form/index.module.less
  src/pages/Editor/components/Right/Form/index.tsx
  src/pages/Editor/components/Right/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: icon
  src/pages/Editor/components/ComponentSetting/Section/index.tsx
  src/pages/Editor/components/ComponentSetting/SectionBlock/index.tsx
  src/pages/Editor/constant.ts
Due: eslint --fix, prettier --write

feat: stash
  eslint.config.js
  src/locales/zh-hans-cn.json
  src/pages/Editor/components/ComponentSetting/AddBlock/index.module.less
  src/pages/Editor/components/ComponentSetting/AddBlock/index.tsx
  src/pages/Editor/components/ComponentSetting/AddSection/index.module.less
  src/pages/Editor/components/ComponentSetting/AddSection/index.tsx
  src/pages/Editor/components/ComponentSetting/Section/index.module.less
  src/pages/Editor/components/ComponentSetting/Section/index.tsx
  src/pages/Editor/components/ComponentSetting/SectionBlock/index.tsx
  src/pages/Editor/hooks/useUpdateConfigDataAndNotify.ts
  src/styles/variable.less
  src/types/section.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: block隐藏
  src/pages/Editor/hooks/useUpdateConfigDataAndNotify.ts
Due: eslint --fix, prettier --write

feat: 删除
  src/pages/Editor/components/ComponentSetting/SectionBlock/index.tsx
  src/pages/Editor/hooks/useUpdateConfigDataAndNotify.ts
Due: eslint --fix, prettier --write
